@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#content {
  max-height: 35vh;
}

#keyboard {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
}

ul {
  list-style: none;
}

#keyboard .key {
  position: relative;
  width: 60px;
  height: 180px;
  border: 1px solid black;
  border-right: none;
  background: #f1f1ec;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #666;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
}

#keyboard .key:last-child {
  border-right: 1px solid black;
}
#keyboard .black-key {
  position: absolute;
  top: -1px;
  left: 37.5px;
  width: 45px;
  height: 120px;
  background: rgb(17, 17, 17);
  border-radius: 5px;
  box-shadow: 0px 3px 5px #666;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  color: white;
}

#keyboard .pressed {
  background-color: red;
}

#container {
  display: none;
}

.featured {
  vertical-align: middle;
  border-radius: 100%;
  margin: 0.7em 1em;
}

.list-songs {
  display: inline;
}

#list {
  height: 45vh;
  width: 70vw;
  scrollbar-base-color: gold;
  overflow: auto;
}

#song-chords {
  height: 60vh;
  overflow: auto;
  padding: 2em;
}

#search-song {
  margin-bottom: 1.3em;
}

.chordline {
  margin-top: 10px;
  line-height: 1.5em;
}

.chordline > span {
  position: relative;
  font-weight: normal;
  line-height: 2.3em;
}

.chordline span strong {
  display: inline-block;
  line-height: 2em;
  position: relative;
  width: 0;
  top: -1.3em;
  left: 0;
  font: bold 80%/1 sans-serif;
  color: #006181;
}

.chordline span strong span {
  display: none;
}
